@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marqueeTrack {
  display: flex;
  animation: marquee 30s linear infinite;
}

.marqueeTrack:hover {
  animation-play-state: paused;
}
